*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #222222;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fafafa;
    border: #35ba10;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1100px;
    margin: 0 auto;
}
.main{
    margin-top: 30px;
}
.content{
    float: left;
    width: calc(12.34% - 15px);
    background-color: #e1d3b4;
    margin-right: 15px;
    padding: 0;
    height: 450px;
}
.container li{
    list-style: none;
    border-bottom: 2px solid white;

}
.block1{
    float: left;
    width: calc(58.33% - 15px);
    height: 450px;
}
.sidebar{
    float: left;
    width: calc(29.33% - 15px);
    margin-left: 30px;
    padding: 10px;
    height: 450px;
    background-color: #ebedd7;
}
.header{
    background-color: #fafafa;
    border-bottom: 1px solid #cccccc;
}
.logo{
    float: left;
    width: 35%;
}
.toplink{
    float: right;
    width: 50%;
}
.toplink ul{
    float: right;
}
.toplink li{
    float: left;
    list-style: none;
    margin-left: 25px;
}
.toplink a{
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
    line-height: 71px;
}
.nav{
    background-color: #fafafa;
    padding: 30px;
}
.container p{
    text-align: end;
}
.menu li.last{
    float: right;
    margin-right: 0;
}
.menu a{
    font-size: 15px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
}
.content h1{
    font-size: 30px;
    padding: 10px 0;
}
.author a{
    color: red;
}
.entry{
    line-height: 1.5;
}
.block{
    float: left;
    width: 100%;
    padding: 30px;
    background-color: #fafafa;
    margin-bottom: 30px;
}
.block.first{
    background-color: #daddb4;
}
.block.sub {
    border-bottom: 2px solid #8aee3f;
}
.haha {
    float: right;
    text-align: end;
    background-color: #e1d3b4;
    width: 1100px;
}
.hihi{
    float: left;
    padding-left: 82px;
}